$dark: #252A34;
$accent: #FF2E63;
$light: #EAEAEA;
$main: #08D9D6;

.card{
    font-weight: slim;
    background: white;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "icon icon temperature temperature"
        "lowtemp lowtemp hightemp hightemp"
        "description description description description";
}

.temp{
    grid-area: temperature;
    .big{
        font-size: 2rem;
        color: $main;
        font-weight: bold;
    }
}

.icon{
    grid-area: icon;
}

.description{
    margin-top: 1rem;
    grid-area: description;
    h2{
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $accent;
    }

}